.navigation_Home{
    color: #0f0f0f;
    background-color: #ffffff;
    position: sticky;
    display: flex;
    overflow-x: auto;
    top: 0;
    /* border-bottom: 2px solid rgb(128,128,128,0.27); */
}
.btn_nav_home{
    background-color: #f2f2f2;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 45px;
    cursor: pointer;
}
.btn_nav_home:hover{
    background-color: #0f0f0f;
    color:#ffffff;
}